*,
html,
body {
  /* cursor: none; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #b8bdb5;
  color: white;
  font-family: "roboto", sans-serif;
  overflow-x: hidden;
}

.cursor {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
}

.mask{
  position: absolute;
  mask-image: url('../public/mask.svg');
  mask-repeat: no-repeat;
  background: #5f7470;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mask h1{
  position: absolute;
  left: 58%;
  top: 40%;
  width:900px ;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

/* .home__container{
  cursor: none;
} */

.nav__ul {
  user-select: none;
  display: flex;
  gap: 1em;
  list-style: none;
  position: absolute;
  left: 0rem;
  top: -2rem;
}

.nav__ul li:nth-child(1) {
  transition: all 1s;
  position: relative;
  top: 3rem;
}
.nav__ul li:nth-child(2) a,
.nav__ul li:nth-child(3) a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  color: #5f7470;
  transition: all 1s;
  position: relative;
  top: 3.25rem;
}

.nav__ul li:hover {
  font-size: 1.1em;
  transform: translateY(-2px);
}

.main__home__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 200px;
  font-size: 30px;
  user-select: none;
}

.intro__title {
  color: #5f7470;
  font-size: 120px;
  user-select: none;
  position: relative;
  top: 0.8em;
}

.cube-canvas {
  user-select: none;
  position: relative;
  left: 0em;
  top: -1.5em;
}

.green {
  color: #5f7470;
}

.bold {
  font-weight: 600;
}

.white {
  color: white;
}

.intro__text__para {
  font-size: 17px;
  user-select: none;
}

.content__div {
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.alg__div {
  background-color: yellow;
  border-radius: 20%;
  transition: all 1s;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alg__div:hover {
  height: 11em;
  width: 11em;
}

.add__div {
  height: 50px;
  width: 120px;
  background-color: yellow;
  border-radius: 15%;
  transition: all 0.5s;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add__div:hover {
  height: 60px;
  width: 125px;
  transform: translateY(-5px);
  color: black;
}

.add__main__div__1 {
  position: absolute;
  left: 2em;
  top: 7em;
}

.add__main__div__2 {
  position: absolute;
  left: 10em;
  top: 7em;
}

.add__text {
  font-size: 12.5px;
  font-weight: 600;
}

.tr__div {
  position: relative;
  left: 80%;
  top: -50%;
  transform: translate(-50%, -50%);
}

.lr__div {
  display: flex;
  gap: 1.5em;
  position: relative;
  left: 81em;
  top: 1em;
  transition: all 0.5s;
}

.lr__div:hover {
  transform: translate(0, -2px);
}

.lr__button {
  background-color: #889696;
  color: #5f7470;
  font-size: 17px;
  font-weight: 700;
  border-radius: 50px;
  border: 3px #5f7470 solid;
  width: 100px;
  height: 30px;
}

.login__div {
  position: absolute;
  left: 600px;
  top: 200px;
  font-size: 30px;
}

.add__div__main {
  position: absolute;
  left: 600px;
  top: 150px;
  font-size: 30px;
}

.msg__div {
  position: absolute;
  left: 85px;
  top: -50px;
  width: 1000px;
}

.login__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.add__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.edit__div {
  position: absolute;
  left: 43em;
  top: 10em;
  height: 100px;
  width: 120px;
  border-radius: 15%;
  transition: all 0.5s;
  color: black;
}

.edit__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.edit__ul li label {
  color: white;
  font-size: 30px;
}

.edit__ul li input {
  color: white;
  font-size: 15px;
}

.edit__ul li select {
  color: white;
  font-size: 15px;
}

.login__submit {
  background-color: rgb(255, 255, 184);
  color: black;
}

.add__submit {
  background-color: yellow;
  color: black;
}

.logout__button {
  background-color: yellow;
  color: black;
  font-size: 15px;
  font-weight: 700;
}

.logout__div {
  position: absolute;
  display: flex;
  left: 88em;
  top: 1em;
}

.need__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.need__h1 {
  color: yellow;
  margin-left: 100px;
}

.need__button {
  background-color: yellow;
  color: black;
  font-size: 15px;
  font-weight: 700;
  max-width: 150px;
  position: relative;
  left: 50px;
}

/*-----------Table----------*/
table th td {
  padding: 1rem;
}

.alg__table {
  position: absolute;
  top: 10rem;
  left: 30rem;
  padding: 2em;
  overflow-y: scroll;
  height: 500px;
  display: block;
}

.oll__table {
  position: absolute;
  top: 10rem;
  left: 30rem;
  padding: 2em;
  overflow-y: scroll;
  height: 500px;
  display: block;
}

.pll__table {
  position: absolute;
  top: 10rem;
  left: 30rem;
  padding: 2em;
  overflow-y: scroll;
  height: 500px;
  display: block;
}

.f2l__table {
  position: absolute;
  top: 10rem;
  left: 30rem;
  padding: 2em;
  overflow-y: scroll;
  height: 500px;
  display: block;
}

.type__options {
  position: absolute;
  left: 25%;
  top: 15%;
}

.del__button {
  position: absolute;
  left: 50em;
  top: 20em;
  background-color: yellow;
  color: black;
  font-size: 15px;
  font-weight: 700;
  width: 10em;
  height: 5em;
  margin-left: 1em;
  transition: all 0.5s;
}

.del__button:hover {
  width: 10.5em;
  height: 5.5em;
  transform: translateY(-5px);
}

.go__back__button {
  position: absolute;
  left: 40em;
  top: 20em;
  background-color: yellow;
  color: black;
  font-size: 15px;
  font-weight: 700;
  width: 10em;
  height: 5em;
  margin-right: 1em;
  transition: all 0.5s;
}

.go__back__button:hover {
  width: 10.5em;
  height: 5.5em;
  transform: translateY(-5px);
}

.sure__text {
  position: absolute;
  left: 6em;
  top: 2.5em;
}

.success {
  color: white;
}

.error {
  color: white;
}

.comments__msg {
  color: white;
  position: absolute;
  left: 10em;
  top: 45em;
}

.sort__div {
  display: flex;
  gap: 1em;
  position: relative;
  top: -69.6em;
  left: 29em;
  width: 10em;
  height: 1.4em;
  position: relative;
}

.sort__remove__button {
  position: relative;
  top: -1em;
  height: 3em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__container {
  position: absolute;
  top: 1em;
  left: 33em;
}

.search__div {
  width: 60px;
  height: 30px;
  border-radius: 30%;
}

.search__div input {
  border: 1px solid yellow;
  border-radius: 50px;
  background-color: black;
  height: 4em;
  width: 30em;
  padding-right: 3em;
  padding-left: 3em;
}

.comments__title__div {
  position: relative;
  gap: 2em;
  top: 2.5em;
  left: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments__title {
  position: relative;
  top: 1em;
}

.comments__content__div {
  position: relative;
  gap: 2em;
  top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments__content {
  position: relative;
  top: 1em;
  /* left: 15em; */
}

.comment__button {
  background-color: yellow;
  color: black;
  font-weight: 600;
  position: relative;
  top: 5em;
  left: 50em;
}

.filler__div {
  height: 20em;
}
